#animes-search{
    margin-top: 60px;
}

#search-input{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    width: 30%;
    font:black;
}

#search-input::placeholder {
    color: black;
    opacity: 80%;
  }

#container-covers{
    display: flex;
    flex-wrap: wrap;
}

#container-loading{
    margin-top: 40px;
}