
body{
    font-family: "Times New Roman", Times, serif;
}

#navbar{
    background-image: url("navbar.jpg");
    height: 10em;

}

#nav-link{
    background-color: white;
    text-align: center;
    opacity: 65%;
    color:black;
    font-size: 25px;
    height: 7em;
    width: 4em;
    justify-content: space-around;
}

#nav-link:hover{
    opacity: 90%;
}

#main-container{
    width: 75em;
}